
*.xcworkspacedata

*.xcuserstate

Hello RestKit 2.xcodeproj/xcuserdata/wangyq.xcuserdatad/xcschemes/Hello RestKit 2.xcscheme

Hello RestKit 2.xcodeproj/xcuserdata/wangyq.xcuserdatad/xcschemes/xcschememanagement.plist
