
*.xcworkspacedata

*.xcuserstate

Hello RestKit 2.xcodeproj/xcuserdata/wangyq.xcuserdatad/xcschemes/Hello RestKit 2.xcscheme

Hello RestKit 2.xcodeproj/xcuserdata/wangyq.xcuserdatad/xcschemes/xcschememanagement.plist


RestKit-0.10.3/RestKit.xcodeproj/xcuserdata/wangyq.xcuserdatad/xcschemes/RestKitResources.xcscheme

RestKit-0.10.3/RestKit.xcodeproj/xcuserdata/wangyq.xcuserdatad/xcschemes/RestKitFramework.xcscheme

RestKit-0.10.3/RestKit.xcodeproj/xcuserdata/wangyq.xcuserdatad/xcschemes/xcschememanagement.plist
